.button {
  padding: 10px 10px;
  margin: 5px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px #999;
  text-align: center;
}

.button:disabled {
  background-color: #7a7a7a !important;
  cursor: not-allowed;
  box-shadow: 0 9px #3f3f3f;
}

.button.inactive {
  background-color: red !important;
  box-shadow: 0 9px #3f3f3f;
}

.button:hover {
  background-color: #3e8e41;
  color: black;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 2px black;
  transform: translateY(4px);
}