.navigation ul {
    list-style-type: node;
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    overflow: hidden;
    background-color:white;
    width: 240px;
  }
  
  .navigation li {
      border: 1px solid silver;
      
      
  }
  
  .navigation li a {
    display: inline-block;
    padding: 10px 0px 10px 15px;
    color:black;
    text-align: left;
    text-decoration: none;
    width: 223px;
  }
  
  .navigation li:not(.active) a:hover {
    background-color:blue;
    color: white;
  }
  
  .active a {
    background-color: blue;
    color: white;
  }